li {
  list-style: none;
}

span {  
  cursor: pointer;
}

.done-false {
    color: red;
}

.done-true {
  text-decoration: line-through;
  font-style: italic;
  color: #999;
}

span[contentEditable="true"] {
  border: 1px solid #999;
  padding: 4px;
}
